
  @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;700&family=Kumbh+Sans:wght@300;700&family=Mukta:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --primarycolor:#6d28d9;
    --secondarycolor:#ede9fe;
    --mainwhite:#fff;
    --mainblack:#222;
    --maingrey:#7c7c7c;
    --mainspacting:0.1rem;
    --maintransition:all 0.3s linear;
    --mainred:#db2777;
    --bodycolor:#f6f6f6;


}


body{
    color: var(--mainblack);
    font-family:  sans-serif;
    background-color: var(--bodycolor);
    position: relative;


}

.navbar{

  background-color:var(--secondarycolor);
  height: 60px ;
  display: flex;
  align-items: center;
  justify-content: center;



}

.menu-icon{
    color: var(--primarycolor);
    cursor: pointer;
    margin-left:-1.5rem;


}

.nav-title{
    color: var(--mainblack);
}

.cart-btn{
    color: var(--primarycolor);
    position: relative;
    cursor: pointer;
}

.navbar-center{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width:1170px ;
    padding: 0 2rem;

}

.cart-btn i , .menu-icon i{
    font-size:1.7rem;
}


.caret-item{
    position:absolute;
    background-color:var(--mainred);
    width: 22px;
    height: 22px;
    border-radius: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--mainwhite);
    top:-8px;
    right: -8px;
    font-size: 0.76rem;



}

/*end of navbar*/


.products-center{
    
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    grid-column-gap:3rem ;
    grid-row-gap:3rem;

}


.products{ 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.product{

    background-color: var(--mainwhite);
    padding-bottom: 2rem;
    border-radius: 9px;
   
}


.img-product{
    width:100%;
    height:15rem;
    min-height:120px;
    border-radius: 8px 8px 0 0;

  
}
.product-desc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top:1rem ;
}


.section-title{
    margin: 1rem ;
}


.add-to-card{
    outline:none;
    border:none;
    border-radius: 8px;
    background-color:var(--secondarycolor);
    font-weight: bold;
    padding: 10px 25px;
   margin-left: 7rem ;
   margin-top:1rem;
}



